#install versin python specific
https://blog.ruanbekker.com/blog/2022/06/23/install-a-specific-python-version-on-ubuntu/

#entorno virtual
https://packaging.python.org/en/latest/guides/installing-using-pip-and-virtual-environments/

#install flask 
https://tecadmin.net/how-to-install-flask-on-ubuntu/
mkdir flask-app && cd flask-app 

#active virtual
source venv/ bin/activate
cd flask

#exis (venv)
deactivate 

rm -r

#github
https://www.siteground.es/kb/instalar-git-linux-macos/?gclid=Cj0KCQjwnMWkBhDLARIsAHBOftoEctPDFPBfpT9wktDl-KfaR9pTBSBKiVG0UcDIFBq5_iVUp3xbNewaAsXhEALw_wcB
https://www.howtoforge.com/tutorial/install-git-and-github-on-ubuntu/
#delete repository
https://linuxhint.com/fully-delete-git-repository/#:~:text=To%20fully%20delete%20a%20Git%20repository%2C%20navigate%20to%20the%20Git,repo%2Dname%3E%E2%80%9D%20command.




pip3 install boto3
sudo apt install python3-tk

github clone<server,key>
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

kill server:
sudo lsof -i :1000 && sudo kill 1000